#menu {
    display: none; /* リストを非表示 */
    flex-direction: column; /* 縦並びのスタイル */
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    text-align: center;
}

.menu-toggle {
    display: block; /* トグルボタンを表示 */
    font-size: 30px;
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
}

#menu.show {
    display: flex;
}

@media (min-width: 768px) {
    #menu {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        position: static;
        background-color: transparent;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 2rem;
    }

    #menu li a:hover {
        background-color: rgb(238, 237, 237);
        padding: 5px;
        border-radius: 10px;
    }

    #menu li {
        margin: 0 10px;
    }
    
    #menu li a {
        text-decoration: none;
        color: rgba(77, 103, 251, 0.809);
        font-size: large;
        transition: background-color 0.3s ease;
    }

    .menu-toggle {
        display: none; /* トグルボタンは非表示 */
    }
    
    #menu li {
        margin-right: 20px;
    }
}