#menu {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    position: static;
    background-color: transparent;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

#menu li a:hover {
    background-color: rgb(238, 237, 237);
    border-radius: 10px;
}

#menu li {
    margin: 0 10px;
    padding: 20px;
}

#menu li a {
    text-decoration: none;
    color: rgba(77, 103, 251, 0.809);
    font-size: large;
    transition: background-color 0.3s ease;
    padding: 10px;
}

.menu-toggle {
    display: none;
}

#menu li {
    margin-right: 20px;
}

@media (min-width: 768px) {
    #menu {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        position: static;
        background-color: transparent;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 2rem;
    }

    #menu li a:hover {
        background-color: rgb(238, 237, 237);
        border-radius: 10px;
    }

    #menu li {
        margin: 0 10px;
        padding: 20px;
    }
    
    #menu li a {
        text-decoration: none;
        color: rgba(77, 103, 251, 0.809);
        font-size: large;
        transition: background-color 0.3s ease;
        padding: 10px;
    }

    .menu-toggle {
        display: none;
    }
    
    #menu li {
        margin-right: 20px;
    }
}