.skill-container {
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
}

@media (min-width: 768px) {
    .fa-star {
        color: gray;
        font-size: 13px;
    }

    .filled {
        color: rgb(226, 226, 48);
    }

    .rating-container {
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto; 
    }

    .star {
        margin-left: 12rem;
    }

    .skill-title {
        font-size: 50px;
        font-family: "Rajdhani", sans-serif;
        margin-top: 5rem;
    }

    .rating {
        margin-top: 2rem;
    }

    .first-row, .second-row {
        display: flex;
        gap: 2rem; /* Adjust the gap for better alignment */
        margin-top: 3rem;
    }

    .navigation {
        color: gray;
        font-family: 'Poppins', sans-serif;
        margin-top: 2rem;
    }

    .navigation a {
        color: red;
        text-decoration: none;
    }

    .skill-container img {
        width: 60px;
        height: 60px;
        border: 3px solid rgb(241, 241, 241);
        border-radius: 10px;
        padding: 9px;
        box-shadow: 3px 3px 5px rgba(157, 157, 157, 0.3);
        display: block;
        margin: 0 auto;
    }

    .skill-container img:hover {
        border-color: rgba(90, 90, 90, 0.3);
        transform: scale(1.1);
        transition: transform 0.5s ease;
    }

    .skill-container {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
    }
    .skill-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;
    }
    .stars {
        display: flex;
        gap: 0.2rem;
    }
}
