body, footer {
    margin: 0;
    padding: 0;
}

#header-placeholder {
    position: sticky;
    top: 0;
}



/*Style for desktop (Whe the desplay is more than 768px)*/
@media (min-width: 768px) {

    

    body, footer {
        margin: 0;
        padding: 0;
    }
}